<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Template</title>
  </head>
  <header>Template Assignment</header>
  <nav></nav>
  <body>
    <div class="container">
      <h1></h1>
      <main>
        <h2>Main</h2>
        <aside>
          <h2>Aside</h2>
        </aside>
        <p></p>
        <figure>
          <img src="" alt="" />
        </figure>
      </main>
      <footer>
        <p>&copy; 2024 Will Standley</p>
      </footer>
    </div>
  </body>
</html>
