body {
  background-color: rgb(13, 74, 13);
}

.container {
  background-color: rgba(165, 251, 165, 0.586);
  margin: 2%;
}

h1,
h2 {
  text-align: center;
}

#will {
  font-size: 64px;
  margin: 3%;
}

img {
  max-width: 30%;
  margin: 1%;
}

#image_1 {
  float: left;
}

#section_home {
  overflow: auto;
}

#home_section {
  float: right;
  margin: 2%;
  width: 50%;
}

#title {
  text-align: right;
  margin-right: 25%;
}

#para {
  text-align: right;
  margin: 2%;
}

nav {
  text-align: center;
  margin: 20px;
}

nav a {
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  font-size: 20px;
  padding: 10px 15px;
  line-height: 3;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
}

#footer {
  text-align: center;
  margin: 1%;
}
