body {
  /* Insert Background Styles */
  background-color: black;
  color: rgb(255, 255, 255);
}

#container {
  background-color: rgb(46, 51, 25);
  width: auto;
  padding: 5px;
  float: left;
}

ul {
  list-style-type: square;
  color: white;
}

ul ul {
  list-style-type: initial;
}

#ordered {
  background-color: rgb(46, 51, 25);
  width: auto;
  padding: 5px;
  float: right;
}

#description {
  background-color: rgb(46, 51, 25);
  width: auto;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

h2 {
  text-align: center;
}

dt {
  color: rgb(255, 255, 163);
}

dd {
  color: rgb(255, 206, 114);
}
