body {
  background: rgb(0, 67, 0);
}

.container-fluid {
  background: rgb(214, 214, 120);
  color: black;
  min-height: 75px;
  align-content: center;
}

.container-fluid h1 {
  text-align: center;
}

.container,
.container-lg {
  background: rgb(214, 214, 120);
  border-top: 10px solid white;
}

footer {
  text-align: center;
  align-content: center;
}
