/*
  Mint Cream = #F1F7ED
  Dark Slate Gray = #243E36
  Cambridge Blue = #7CA982
  Nyanza = #E0EEC6
  Old Gold = #C2A83E
*/

body {
  background: #243e36;
}

h1,
h2,
h3,
p {
  color: #f1f7ed;
}

p {
  margin: 10px;
  line-height: 1.75;
  font-size: 24px;
  padding: 10px;
}

h1 {
  padding: 20px;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-collapse,
.nav-item {
  background: #212529;
}

h2 {
  text-align: center;
  padding: 20px;
}

main {
  background: #7ca982;
  width: 90%;
  border-radius: 15px;
  overflow: auto;
  margin: 10px auto;
}

#content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
}

.main_text {
  width: 55%;
  margin: 10px;
  float: inline-start;
}

.offcanvas-title,
.offcanvas-body p,
.offcanvas-body h2 {
  color: #f1f7ed;
}

.offcanvas-body h2 {
  text-align: left;
}

.offcanvas-body p {
  text-align: left;
  margin-left: 8%;
}

.offcanvas {
  background: #243e36;
}

.k_main_text {
  width: 55%;
  margin: 10px;
  float: inline-end;
}

#kendrick {
  width: 40%;
  margin: 10px;
  padding: 10px;
}

.collage {
  float: inline-end;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.collage img {
  width: 95%;
}

#demo {
  width: 40%;
  margin: 10px auto;
}

.btn {
  padding: 10px;
  margin: 10px;
  font-size: x-large;
  background-color: #243e36;
  border: 2px solid black;
}

.btn:hover {
  background-color: #7ca982;
  border: 2px solid black;
}

figcaption p {
  text-align: center;
}

#rfloat {
  float: right;
  max-width: 100%;
  padding: 1% 5%;
}

iframe {
  width: 100%;
}

.albums {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: auto;
}

#albums {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#album {
  text-align: center;
  padding: 10px;
  min-width: 25%;
  min-height: 500px;
}

#cover {
  max-width: 100%;
}

#album_title {
  color: #f1f7ed;
}

#facts {
  width: 90%;
  overflow: auto;
  margin: 2% 5%;
}

#facts_1,
#facts_2 {
  width: 43%;
}

#facts_1 {
  float: inline-start;
  overflow: auto;
  background: #7ca982;
}

#facts_2 {
  float: inline-end;
  overflow: auto;
  background: #7ca982;
}

#collap,
#collap_1 {
  background: #243e36;
  color: #f1f7ed;
  margin: 10px;
  text-align: center;
  padding: 5px;
  overflow: auto;
}

#fact-head {
  overflow: auto;
  background: #7ca982;
}

#songs {
  text-align: left;
  font-size: x-large;
}

#subsect {
  font-size: x-large;
  line-height: 0.5;
  padding: 2px;
  margin: 10px auto;
}

#collap_content {
  float: left;
  background: #7ca982;
}

#collap {
  float: inline-end;
}

#collap_1 {
  float: inline-start;
}

.collapse {
  background: #7ca982;
}

#section_albums {
  font-size: 45px;
  text-align: center;
  color: #f1f7ed;
}

#footer {
  color: rgb(190, 189, 189);
  text-align: center;
}
