/* 
    Main Color Pallette for Project
        Background = #132a13
        Container-Background = #ECF39E
        Borders = #4F772D
        Headings = #90A955
        Main-Text = #31572C
        Subtext = Grey or Black
*/

/* Unna Font Stylings */
.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

/* Body Stylings */
body {
  background: rgb(39, 87, 39);
  background: linear-gradient(180deg, #132a13 16%, rgba(0, 0, 0, 1) 84%);
}

header {
  background: rgb(180, 183, 168);
  border: 4px solid black;
  font-size: 32px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-height: 115px;
}

#page_title {
  color: black;
}

#logo {
  width: 15%;
  padding: 2%;
  max-height: 115px;
  max-width: 115px;
}

/* Heading Styles */
h1,
h2,
h3 {
  text-align: center;
}

/* Navigation Styling */
nav {
  text-align: center;
  width: 65%;
  margin: 10px auto;
  background: #d4da8d;
  border-radius: 10px;
  padding: 15px;
}

nav a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1%;
  background: #31572c;
  color: #d4da8d;
  font-size: larger;
  display: inline-block;
}

/* Main Body Stylings */
main {
  background: #d4da8d;
  width: 90%;
  min-height: 500px;
  margin: 10px auto;
  border-radius: 15px;
}

h2,
h3,
p {
  color: #31572c;
}

h2 {
  padding: 5px;
}

p {
  margin: 10px;
}

img {
  border-radius: 45px;
}

/* Asides Styles */
.left {
  min-width: 40%;
  max-width: 40%;
  min-height: 300px;
  background: #d4da8d;
  float: inline-start;
  border-radius: 15px;
  margin: 2% 5%;
}

.right {
  min-width: 40%;
  max-width: 40%;
  min-height: 300px;
  background: #d4da8d;
  border-radius: 15px;
  float: inline-end;
  margin: 2% 5%;
}

/* Albums Styling */
.albums {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: auto;
}

#album {
  text-align: center;
  padding: 10px;
  min-width: 25%;
  min-height: 500px;
}

#cover {
  max-width: 90%;
}

#album_titles {
  margin: 10px auto;
}

/* Footer */
footer {
  text-align: center;
  color: rgb(156, 156, 156);
}

#footer {
  text-align: center;
  color: rgb(156, 156, 156);
}
