/* 
    Main Color Pallette for Project
        Background = #132a13
        Container-Background = #ECF39E
        Borders = #4F772D
        Headings = #90A955
        Main-Text = #31572C
        Subtext = Grey or Black
*/

/* Unna Font Stylings */
.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

/* Body Stylings */
body {
  background: #132a13;
}

header {
  background: rgb(180, 183, 168);
  min-height: 150px;
  border: 4px solid black;
  font-size: xx-large;
  padding: 10px;
}

#page_title {
  margin-right: 10%;
  color: black;
}

#logo {
  width: 15%;
  float: inline-start;
  display: block;
  max-width: 200px;
  min-width: 200px;
  min-height: 190px;
  max-height: 190px;
}

/* Heading Styles */
h1,
h2,
h3 {
  text-align: center;
}

/* Navigation Styling */
nav {
  text-align: center;
  width: 65%;
  margin: 10px auto;
  background: #ecf39e;
  border-radius: 10px;
  padding: 15px;
}

nav a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0px 5% 0px 5%;
  background: #31572c;
  color: #ecf39e;
  font-size: larger;
}

/* Main Body Stylings */
main {
  background: #ecf39e;
  width: 90%;
  min-height: 500px;
  margin: 10px auto;
  border-radius: 15px;
}

h2,
h3,
p {
  color: #31572c;
}

/* Asides Styles */
.left {
  min-width: 40%;
  max-width: 40%;
  min-height: 300px;
  background: #ecf39e;
  float: inline-start;
  border-radius: 15px;
  margin: 2% 5%;
}

.right {
  min-width: 40%;
  max-width: 40%;
  min-height: 300px;
  background: #ecf39e;
  border-radius: 15px;
  float: inline-end;
  margin: 2% 5%;
}

/* Albums Styling */
.albums {
  background: black;
  min-height: 280px;
  width: 90%;
  margin: 10px auto;
  border-radius: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  padding: 20px;
}

#cover {
  background: grey;
  max-height: 33%;
  max-width: 15%;
  padding: 15px;
  border: 5px solid;
}

/* Footer */
footer {
  text-align: center;
  color: rgb(156, 156, 156);
}

#footer {
  text-align: center;
  color: rgb(156, 156, 156);
}
